
@define-color mforeground #cdd6f4;
@define-color mbackground #1e1e2e;
@define-color mbrightbg #45475a;
@define-color maccent #f5e0dc;
@define-color malter #fab387;
@define-color mgreen #a6e3a1;
@define-color mred #f38ba8;

window {
    background: @mbackground;
    color: @mforeground;
    font-family: "Iosevka Nerd Font";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    opacity: 0.8;
}

#input {
    background: @mbackground;
    color: @mforeground;
}

#entry:selected {
    background: @maccent;
    color: @mbackground;
}
