
@define-color mforeground #cdd6f4;
@define-color mbackground #1e1e2e;
@define-color mbrightbg #45475a;
@define-color maccent #f5e0dc;
@define-color malter #b4befe;
@define-color mgreen #a6e3a1;
@define-color mred #f38ba8;

window {
    background-color: @mbackground;
    font-family: "Iosevka Nerd Font";
    font-size: 16px;
    padding: 50px;
}

#input {
    background-color: @mbrightbg;
    color: @maccent;
    margin: 20px 15px;
    padding: 10px 20px;
    border: none;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry:selected {
    background-color: @maccent;
    border-radius: 5px;
}

#text {
    color: @mforeground
}

#text:selected {
    color: @mbackground
}
