.DS_Store
/fonts
/wallpapers
/scripts/**/test.*
/configs/universal/.config/nvim/parser
/configs/universal/.config/nvim/lazy-lock.json
/configs/universal/.config/nvim/.test-deps
/configs/universal/.config/helix/runtime
/configs/universal/.config/Code/User/*
!/configs/universal/.config/Code/User/keybindings.json
!/configs/universal/.config/Code/User/settings.json
