
@define-color mforeground #cdd6f4;
@define-color mbackground #1e1e2e;
@define-color mbrightbg #45475a;
@define-color maccent #f5e0dc;
@define-color malter #b4befe;
@define-color mgreen #a6e3a1;
@define-color mred #f38ba8;

* {
    font-family: "Iosevka Nerd Font";
    background-image: none;
}

window {
    background: transparent;
}

button {
    background-color: rgba(30, 30, 46, 0.55);
    color: @mforeground;
    font-size: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;

    box-shadow: none;
    text-shadow: none;
    transition: background-color 0.2s ease-in-out;

    border: 2px solid @mbrightbg;
}

button:focus, button:active, button:hover {
    background-color: rgba(30, 30, 46, 0.85);
    opacity: 1;
    color: @maccent;
    border: 2px solid @maccent;
}

#lock {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/lock.png"));
}

#logout {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/logout.png"));
}

#suspend {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/reboot.png"));
}
