
@define-color mforeground #cdd6f4;
@define-color mbackground #1e1e2e;
@define-color mbrightbg #45475a;
@define-color maccent #f5e0dc;
@define-color malter #fab387;
@define-color mgreen #a6e3a1;
@define-color mred #f38ba8;

* {
    font-family: "Iosevka Nerd Font";
    background-image: none;
    transition: 20ms;
}

window {
    background-color: @background;
}

button {
    background-color: @background;
    color: @mforeground;
    font-size: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;

    border: 3px solid @mbrightbg;
}

button:focus,
button:active,
button:hover {
    background-color: @mbackground;
    color: @maccent;
    border: 3px solid @maccent;
}

#lock {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/logout.png"));
}

#suspend {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/reboot.png"));
}
