BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 8
TabWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
BreakStringLiterals: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
PenaltyExcessCharacter: 50
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakString: 2000
