root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
max_line_length = 90
indent_size = 4
tab_width = 8

[*.py]
max_line_length = 120

[*.rs]
max_line_length = 100

[*.{lua,xml,html,y{,a}ml,build,sh*,zsh*,bash*,yang*}]
indent_size = 2

# [*.lua]
# indent_style = tab
# indent_size = 4
# tab_width = 4

[{go.mod,go.sum,go.work,*.{go}}]
indent_style = tab
max_line_length = 100
indent_size = 8

[{configure.ac,Makefile*,*.{asm,s,c,h,ld,vim*,git*}}]
indent_style = tab
max_line_length = 80
indent_size = 8

[*.{i,d}ts*]
indent_style = tab
max_line_length = 120
indent_size = 8

[*.{diff,patch}]
insert_final_newline = false
trim_trailing_whitespace = false

[{.emacs*,*.el}]
indent_size = 2
