[include]
	path = ~/Downloads/dot-files/configs/universal/.config/other-themes/catppuccin.gitconfig

[core]
	autocrlf = input
	safecrlf = warn
	quotepath = off
	editor = nvim
	pager = delta
[credential]
	helper = store
[format]
	filenameMaxLength = 100
[init]
	defaultBranch = main
[merge]
	conflictStyle = zdiff3

[delta]
	features = catppuccin-mocha
[interactive]
	diffFilter = delta --color-only
