
@define-color mforeground #cdd6f4;
@define-color mbackground #1e1e2e;
@define-color mbrightbg #45475a;
@define-color maccent #f5e0dc;
@define-color malter #b4befe;
@define-color mgreen #a6e3a1;
@define-color mred #f38ba8;

* {
    font-family: "Iosevka Nerd Font";
    font-size: 16px;
}

window#waybar {
    background: @mbackground;
    color: @mforeground;
    opacity: 0.9;
    border: 0px;
}

#system, #keyboard, #hardware, #tray {
    background: @mbrightbg;
    color: @mforeground;
    margin: 5px;
    padding: 0px 10px;
    border-radius: 15px;
    border: 0px;
}

#window, #clock {
    background: @maccent;
    color: @mbackground;
    margin: 5px;
    padding: 0 10px;
    font-weight: bold;
    border: 0px;
    border-radius: 15px;
}

window#waybar.empty #window {
    background: transparent;
}

#workspaces {
    background: transparent;
    color: @mforeground;
    margin: 2px 1px;
    padding: 0px 1px;
    border: 0px;
    border-radius: 15px;
}

#workspaces button {
    background: @mbrightbg;
    color: @mforeground;
    margin: 3px 3px;
    padding: 1px 6px;
    border: 0px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: @maccent;
    color: @mbackground;
    min-width: 35px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background: @malter;
    color: @mbackground;
}

#custom-wlogout {
    background: @maccent;
    color: @mbackground;
    margin-left: 5px;
    padding: 0px 10px 0px 12px;
}
