@define-color foreground #cdd6f4;
@define-color background #1e1e2e;
@define-color cursor #b4befe;

@define-color color0 #45475A;
@define-color color1 #f38ba8;
@define-color color2 #a6e3a1;
@define-color color3 #f9e2af;
@define-color color4 #89b4fa;
@define-color color5 #f5c2e7;
@define-color color6 #94e2d2;
@define-color color7 #bac2de;
@define-color color8 #585B70;
@define-color color9 #f38ba8;
@define-color color10 #a6e3a1;
@define-color color11 #f9e2af;
@define-color color12 #89b4fa;
@define-color color13 #f5c2e7;
@define-color color14 #94e2d2;
@define-color color15 #a6adc8;

* {
    font-family: "Iosevka Nerd Font";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background: transparent;
    transition-property: background;
    transition-duration: .5s;
}

#workspaces {
    background: @background;
    color: @foreground;
    padding: 0px 1px;
    margin: 2px 1px 3px 1px;
    border: 0px;
    border-radius: 15px;
    opacity: 0.8;
}

#workspaces button {
    background: @color8;
    color: @foreground;
    padding: 1px 9px;
    margin: 3px 3px;
    border: 0px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

#workspaces button.active {
    background: @color13;
    color: @background;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
}

#workspaces button:hover {
    background: @color11;
    color: @background;
    opacity: 0.7;
}

tooltip {
    background: @background;
    color: @foreground;
    padding: 20px;
    margin: 0px;
    border-radius: 10px;
    opacity: 0.8;
}

#window {
    background: @background;
    color: @foreground;
    padding: 2px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
    border-radius: 12px;
    font-size: 16px;
    opacity: 0.8;
    border: 2px solid @color13;
}

window#waybar.empty #window {
    background: transparent;
    border: 0px;
}

#taskbar {
    background: @background;
    padding: 0px;
    margin: 3px 15px 3px 0px;
    border-radius: 15px;
    opacity: 0.8;
    border: 2px solid @color13;
}

#taskbar.empty {
    background: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#taskbar button {
    padding: 0px 5px 0px 5px;
    margin: 0px;
}

#disk,#memory,#cpu {
    color: @foreground;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

#memory {
    margin-right: 5px;
}

#clock {
    background: @background;
    color: @foreground;
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 2px solid @color13;
    font-size: 16px;
}

#pulseaudio {
    background: @foreground;
    color: @background;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity: 0.8;
    font-size: 16px;
}

#pulseaudio.muted {
    background-color: @color11;
    color: @background;
}

#network {
    background: @background;
    color: @foreground;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 3px 10px 3px 0px;
    opacity: 0.8;
    border: 2px solid @color13;
    font-size: 16px;
}

#network.ethernet {
    background: @background;
    color: @foreground;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 3px 10px 3px 0px;
    opacity: 0.8;
    border: 2px solid @color13;
    font-size: 16px;
}

#network.wifi {
    background: @background;
    color: @foreground;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 3px 10px 3px 0px;
    opacity: 0.8;
    border: 2px solid @color13;
    font-size: 16px;
}

/*#bluetooth.on, #bluetooth.connected {
    background-color: #FFFFFF;
    font-size: 16px;
    color: @background;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}*/

#battery {
    background: @background;
    color: @foreground;
    border-radius: 15px;
    padding: 2px 15px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity: 0.8;
    font-size: 16px;
}

#battery.charging, #battery.plugged {
    background: @color10;
    color: @background;
}

@keyframes blink {
    to {
        background: @foreground;
        color: @background;
    }
}

#battery.critical:not(.charging) {
    background: @color9;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background: @background;
    color: @foreground;
    padding: 0px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
    border-radius: 15px;
    opacity: 0.8;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

label:focus {
    background-color: #ff0000;
}

#backlight {
    background-color: #ff0000;
}

#network.disconnected {
    background: @color9;
    color: @foreground;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 3px 10px 3px 0px;
    opacity: 0.8;
    border: 0px;
    font-size: 16px;
}
